<header class="masthead masthead-all clearfix">
	<div class="l-container">
		<h1 class="logo logoStyle"><a href="/kickoff/">Kick<span>off</span></a></h1>

		<nav class="nav">
			<ul class="main-nav">
				<li><a href="/kickoff/learn/"{% if page.navgroup == "docs" %} class="is-active"{% endif %}>Learn</a></li>
				<li><a href="/kickoff/demos/typography.html"{% if page.navgroup == "demo" %} class="is-active"{% endif %}>Demos</a></li>
				<li><a href="/kickoff/learn/get.html">Get Kickoff</a></li>
				<!-- <li><a href="/kickoff/blog"{% if page.navgroup == "blog" %} class="is-active"{% endif %}>Blog</a></li> -->
				<li><a href="https://github.com/tmwagency/kickoff/" target="_blank" data-icon-after="&#59157;">View on Github</a></li>
			</ul>
		</nav>
	</div>
</header>
